// Override default variables before the import

$theme-colors: (
    "primary": #35322d,
    "secondary": #ffb03b
);

//Second Theme Color 
// $theme-colors: (
//     "primary": #35322d,
//     "secondary": #31980f
// );

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html,body {
	font-family: "Poppins", sans-serif;
	color: theme-color($key: "primary");
	scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Satisfy", sans-serif;
}
.header-logo {
	font-family: "Satisfy", sans-serif;
	font-size: 32px;
    font-weight: bold;
    color:theme-color($key: "secondary");
}
.navbar{
	background-color:rgba(theme-color($key: "primary"),0.7);

	a {
		&.nav-link{
			color: $white;
			&:hover {
				color: theme-color($key: "secondary");
				text-decoration: none;
			}
		}
	}	
}

.toast{
    position: fixed;
    right: 30px;
    top:100px;
    z-index: 10;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom_alert{
	position: fixed;
	bottom: 15px;
	right: 30px;
	z-index: 100;
}

.custom_field{
	&:focus {
		 border: 1px solid theme-color($key: "secondary");
		box-shadow: none;
	}
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	.carousel-item {
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.carousel-content {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
	}
	h2 {
		color: $white;
		margin-bottom: 30px;
		font-size: 48px;
		font-weight: 700;
		span {
			color: theme-color($key: "secondary");
		}
	}
	p {
		width: 80%;
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
		margin: 0 auto 30px auto;
		color: $white;
	}
	.carousel-inner {
		.carousel-item.slide1 {
			background: rgba(12, 11, 10, 0.5) url('./images/slide-1.jpg');
		}
		.carousel-item.slide2 {
			background-image: url('./images/slide-2.jpg');
		}
		.carousel-item.slide3 {
			background-image: url('./images/slide-3.jpg');
		}
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 80px 0;
}
.section-bg {
	background-color: $white;
}
.section-title {
	text-align: center;
	padding-bottom: 30px;
	h2 {
		margin: 15px 0 0 0;
		font-size: 32px;
		font-weight: 700;
		color: theme-color($key: "primary");
		span {
			color: theme-color($key: "secondary");
		}
	}
	p {
		margin: 15px auto 0 auto;
		font-weight: 300;
	}
}

/*--------------------------------------------------------------
# Whu Us
--------------------------------------------------------------*/
.why-us {
	.box {
		padding: 50px 30px;
		background-color: $white;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
		-ms-transition: all ease-in-out 0.3s;
		-o-transition: all ease-in-out 0.3s;
		span {
			display: block;
			font-size: 28px;
			font-weight: 700;
			color: theme-color($key: "secondary");
		}
		h4 {
			font-size: 24px;
			font-weight: 600;
			padding: 0;
			margin: 20px 0;
			color: theme-color($key: "primary");
		}
		p {
			color: theme-color($key: "primary");
			font-size: 15px;
			margin: 0;
			padding: 0;
		}
		&:hover {
			background: theme-color($key: "secondary");
			padding: 30px 30px 70px 30px;
			box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
			span {
				color: $white;
			}
			h4 {
				color: $white;
			}
			p {
				color: $white;
			}
		}
	}
}


/*--------------------------------------------------------------
# Chefs
--------------------------------------------------------------*/
.chefs {
    background: url("images/chefs-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
    background-attachment: fixed;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: theme-color($key: "primary");
	color: $white;
	font-size: 14px;
	text-align: center;
	padding: 30px 0;
	h3 {
		font-size: 36px;
		font-weight: 700;
		color: theme-color($key: "secondary");
		position: relative;
		padding: 0;
		margin: 0 0 15px 0;
	}
	.copyright {
		margin: 0 0 5px 0;
	}
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 768px) {
	#hero {
		h2 {
			font-size: 28px;
		}
	}
}
@media (min-width: 1024px) {
	#hero {
		p {
			width: 50%;
		}
		.carousel-control-prev {
			width: 5%;
		}
		.carousel-control-next {
			width: 5%;
		}
	}
	.section-title {
		p {
			width: 50%;
		}
	}
}


